.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5d0fe;
  height: 100vh;
}

.input-card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f5d0fe;
  height: 30%;
  width: 40%;
  border-radius: 10px;
  background-color: #ffffff;
}

.heading {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
}
.text-container {
  display: flex;
}

.button {
  background-color: #d946ef;
  border: none;
  padding: 5px;
  border-radius: 3px;
  height: 30x;
  width: 40px;
}
